body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.calc-button{
    border: 0;
    background-color: #71da71;
    width: 100%;
}
.clear-button{
    border: 0;
    background-color: #da7171;
    width: 100%;
}
.button-container{
    margin: 20px;
}
.input-container{
    width: 100%;
    height: 25%;
}
.main-input{
    width: 100%;
    height: 25%;
}
.button-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}
.show-elem-details{
    border: 0;
    background-color: #989797;
    margin: 5px;
}
@media only screen and (max-width: 600px)  {
    .main-input{
        height: 200px;
    }
    .calc-button{
        height: 300px;
    }
    .clear-button{
        height: 300px;
    }
    .show-elem-details{
        width: 150px;
        height: 150px;
    }
}